{{#each tracks.artists}}
<h1>{{name}}</h1>
{{/each}}

<h3>{{tracks.title}}</h3>
{{#if auth}}
<a href="/album/{{tracks.id}}/add">Add to collection</a>
{{/if}}

<div>
<img src="{{imgSrc}}" height="200" width="200">
</div>

<div>
<p>Release Year: {{tracks.year}}</p>
</div>
<div>
<p>Sale Value: ${{tracks.lowest_price}}</p>
</div>

<div>
<h4>Tracklist:</h4>
<ol>
{{#each tracks.tracklist}}    
<li>{{title}} {{duration}}</li>
{{/each}}
</ol>
</div>

<div id='mapAlbum' style='width: 80vw; height: 80vh;'></div>
{{!-- <input type="hidden" id="userCoord" default="{{user}}"> --}}
<p id="userCoord" style="visibility: hidden">{{user}}</p>


{{#each usersArray}} 
<p id="usersCoordinates"  > {{coordinates}}+{{_id}}+{{username}}</p> 

{{/each}}




<script src="/js/mapAlbum.js"></script>

<div>
{{#if vids}}
<h3>Videos:</h3>


{{#each vids}}
<div>

<iframe width="560" height="315" src="{{this}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
</iframe>
</div>
{{/each}}
{{/if}}
</div>


