<div class="backgroundImg">
    <div class="collecton-container">
        <h1>{{collection.name}}</h1>
        <p class="description">{{collection.description}}</p>
        {{#if buyBtn}}
        <div   class="collection-btns">
            <a class='button btn-link' href="/collections/edit/{{collection._id}}">Edit</a>
            <a class='button btn-link' href="/">Add Album</a>
        </div>
        {{/if}}
        
        

        {{#if collection.albums}}
        
        <div class="albums-collection-container">
            {{#each collection.albums}}
            <div class="album-container">
                <h4>Artist: {{artist}}</h4>
                <p>Title: {{name}}</p>
                <a href="/album/{{discogsId}}">
                    <img src="{{imgPath}}" alt="cover {{name}}" height="300px" width="300px">
                </a>
                <p>Release Year: {{release}}</p>
                {{#unless ../buyBtn}}
                <a class='buy-btn' href="/buy/{{../collection._id}}/{{_id}}/">Buy</a>
                {{/unless}}
                {{#if price}}
                    <p>Value: ${{price}}</p>
                {{/if}}
            
                

              
                <details>
                    <summary>Tracklist:</summary>
                    <ul>
                    {{#each tracks}}
                    <li>{{name}}</li>
                    {{/each}}
                    </ul>
                </details>
                
                {{#if ../buyBtn}}
                <a class='remove-btn' href="/collections/{{../collection._id}}/remove/{{_id}}">Remove</a>  
                {{/if}}
                </div>
            {{/each}}
            </div>
        {{/if}}

    </div>
</div>

