<div class="img-main ">
    <div class="dark"> 
        <div class="container-white">        
            <h1 class="greet"><span>{{user.username}}'s</span> collections</h1>
            
                {{#each user.collections}}
                    <a class="link-to-collections" href="/collections/collection/{{_id}}">{{name}}</a>
                    <a href="/collections/collection/{{_id}}">
                    {{!-- {{#each albums}}
                        <h4>{{artist}}</h4>
                        <p>{{name}}</p>
                        <img src="{{imgPath}}" alt="cover {{name}}" height="100px" width="100px">
                    {{/each}} --}}
                    </a>
                    <div class="edit-btns">
                    {{#if ../auth}}
                    <a class='button-small' href="/collections/remove/{{_id}}">Remove</a>
                    <a class='button-small' href="/collections/edit/{{_id}}">Edit</a>
                    {{/if}}
                    </div>
                {{/each}}
            
            {{#if auth}}
            <a class="add-collection"  href="/collections/{{user._id}}/add">Add Collection</a>
            {{/if}}
        </div>
    </div>
</div>



