<h1>Welcome to {{user.username}}'s collection</h1>
{{#each user.collections}}
    <h2><a href="/collections/collection/{{_id}}">{{name}}</a></h2>
    <a href="/collections/collection/{{_id}}">
    {{!-- {{#each albums}}
        <h4>{{artist}}</h4>
        <p>{{name}}</p>
        <img src="{{imgPath}}" alt="cover {{name}}" height="100px" width="100px">
    {{/each}} --}}
    </a>
    {{#if ../auth}}
    <a href="/collections/remove/{{_id}}">Remove</a>
    <a href="/collections/edit/{{_id}}">Edit</a>
    {{/if}}
{{/each}}
{{#if auth}}
<a href="/collections/{{user._id}}/add">Add Collection</a>
{{/if}}




