<div class="topContainer">
<div>
{{#each tracks.artists}}
<h1>{{name}}</h1>
{{/each}}

<h3>{{tracks.title}}</h3>
{{#if auth}}
<a href="/album/{{tracks.id}}/add">Add to collection</a>
{{/if}}

<div>
<img src="{{imgSrc}}" height="200" width="200">
</div>

<div>
<p>Release Year: {{tracks.year}}</p>
</div>
<div>
<p>Sale Value: ${{tracks.lowest_price}}</p>
</div>

<div>
<h4>Tracklist:</h4>
<ol>
{{#each tracks.tracklist}}    
<li>{{title}} {{duration}}</li>
{{/each}}
</ol>
</div>
</div>

<div>
<h3 style="text-align:center;">Find people close to you who own this album</h3>    
<div id='mapAlbum' style='width: 40vw; height: 40vh;'></div>
{{!-- <input type="hidden" id="userCoord" default="{{user}}"> --}}
<p id="userCoord" style="visibility: hidden">{{user}}</p>


{{#each usersArray}} 
<p id="usersCoordinates" style="height: 0; visibility: hidden" > {{userWithAlbum.coordinates}}+{{userWithAlbum._id}}+{{userWithAlbum.username}}+{{collection._id}}</p> 

{{/each}}




<script src="/js/mapAlbum.js"></script>
</div>
</div>


<div class="vidContainer">
{{#if vids}}
<h3>Videos:</h3>
{{#each vids}}

<div class="vidSubContainer">
<iframe width="560" height="315" src="{{this}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
</iframe>
</div>

{{/each}}
{{/if}}
</div>


