
<div class="backgroundImg">
<div class="greyBackground">    

<div class="artistAndBio">

<div class="artistName">
<h1 style="text-align:center;">{{artist.name}}</h1>
<img src="{{img}}" alt="" height="200" width="200">
</div>

<div class="bio">
<details>
    <summary>Bio</summary>
<p>{{artist.profile}}</p>
</details>

<details>
    <summary>Members</summary>

<ul>
{{#each artist.members}}  
<li>{{this.name}}</li>
{{/each}}
</ul>

</details>

<details>
    <summary>Links</summary>
<ul>
{{#each links}}    
<li>{{this}}</li>
{{/each}}
</ul>
</details>
</div>

</div>

<div class="releasesText">
<h2>Releases:</h2>
</div>
<div class="albumContainer">

{{#each albums}}

<div class="albumSubcontainer">
    
<a style="text-align:center;" href="/album/{{id}}"><h5>{{title}}</h5></a>

<a href="/album/{{id}}"><img src="{{thumb}}" alt="Pic of album" height="100" width="100"></a> 

<p>Release Year: {{year}}</p>

<a href="/album/{{id}}">Show Tracks</a>

{{#if ../auth}}
<a href="/album/{{id}}/add">Add to collection</a>
{{/if}}

</div>

{{/each}}
</div>
</div>
</div>