<h1>{{artist.name}}</h1>

<img src="{{img}}" alt="" height="200" width="200">

<h2>Artist Info:</h2>
<h3>Bio</h3>
<p>{{artist.profile}}</p>

<h3>Members</h3>
<ul>
{{#each artist.members}} 
   
<li>{{this.name}}</li>

{{/each}}
</ul>

<h3>Links</h3>
<ul>
{{#each links}}    
<li>{{this}}</li>
{{/each}}
</ul>

<div>
<h2>Releases:</h2>
{{#each albums}}

<div>
    
<a href="/album/{{id}}"><h3>{{title}}</h3></a>

<a href="/album/{{id}}"><img src="{{thumb}}" alt="Pic of album" height="100" width="100"></a> 

<p>Release Year: {{year}}</p>

<a href="/album/{{id}}">Show Tracks</a>

{{#if ../auth}}
<a href="/album/{{id}}/add">Add to collection</a>
{{/if}}

</div>

{{/each}}
</div>
