<h1>Artists</h1>

<div>
{{#each data}}
<div>
<a href="/artist/{{id}}"><h3>{{title}}</h3></a>

<a href="/artist/{{id}}"><img src="{{cover_image}}" alt="Pic of band" height="200" width="200"></a>

<a href="/artist/{{id}}">Show Albums</a>
</div>
{{/each}}
</div>