<h1>Collection {{collection.name}}</h1>
<p>{{collection.description}}</p>
{{#if auth}}
<a href="/collections/edit/{{collection._id}}">Edit</a>
{{/if}}

{{#if collection.albums}}
<ph2>Albums:</h2>
    {{#each collection.albums}}
        <p>{{name}}</p>
        <img src="{{imgPath}}" alt="cover {{name}}" height="300px">
        <p>{{release}}</p>
        {{#if userPrice}}
            <p>{{userPrice}}</p>
        {{/if}} 
        <a href="/collections/{{../collection._id}}/remove/{{_id}}">Remove album from collection</a>  
    {{/each}}
{{/if}}

{{#if auth}}
<a href="/">Add Albums to the collection</a>
{{/if}}