<h1>Collection {{collection.name}}</h1>
<p>{{collection.description}}</p>
{{#if auth}}
<a href="/collections/edit/{{collection._id}}">Edit</a>
{{/if}}

{{#if collection.albums}}
<ph2>Albums:</h2>
    {{#each collection.albums}}
        <h4>Artist: {{artist}}</h4>
        <p>Title: {{name}}</p>
        <img src="{{imgPath}}" alt="cover {{name}}" height="300px" width="300px">
        <p>Release Year: {{release}}</p>
        {{#if price}}
            <p>Value: ${{price}}</p>
        {{/if}} 
        <details>
            <summary>Tracklist:</summary>
            <ul>
            {{#each tracks}}
            <li>{{name}}</li>
            {{/each}}
            </ul>
        </details>
        <a href="/collections/{{../collection._id}}/remove/{{_id}}">Remove album from collection</a>  
    {{/each}}
{{/if}}

{{#if auth}}
<a href="/">Add Albums to the collection</a>
{{/if}}